<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="spec">
            <h2><span jhiTranslate="unblockItApp.spec.detail.title">Spec</span> {{ spec.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="unblockItApp.spec.nome">Nome</span></dt>
                <dd>
                    <span>{{ spec.nome }}</span>
                </dd>
                <dt><span jhiTranslate="unblockItApp.spec.perfil">Perfil</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'unblockItApp.PERFILSPEC.' + spec.perfil }}">{{ spec.perfil }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/spec', spec.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
