<div>
    <h2 id="page-heading">
        <span jhiTranslate="unblockItApp.tarefa.home.title">Tarefas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tarefa" [routerLink]="['/tarefa/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="unblockItApp.tarefa.home.createLabel">
            Create a new Tarefa
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tarefas?.length === 0">
        <span jhiTranslate="unblockItApp.tarefa.home.notFound">No tarefas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tarefas && tarefas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="unblockItApp.tarefa.descricao">Descricao</span></th>
                    <th scope="col" ><span jhiTranslate="unblockItApp.tarefa.dataLimite">Data Limite</span></th>
                    <th scope="col" ><span jhiTranslate="unblockItApp.tarefa.concluida">Concluida</span></th>
                    <th scope="col" ><span jhiTranslate="unblockItApp.tarefa.squadTarefa">Squad Tarefa</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tarefa of tarefas ;trackBy: trackId">
                    <td><a [routerLink]="['/tarefa', tarefa.id, 'view']">{{ tarefa.id }}</a></td>
                    <td>{{ tarefa.descricao }}</td>
                    <td>{{ tarefa.dataLimite | date:'mediumDate' }}</td>
                    <td>{{ tarefa.concluida }}</td>
                    <td>
                        <div *ngIf="tarefa.squadTarefa">
                            <a [routerLink]="['/squad', tarefa.squadTarefa?.id, 'view']" >{{ tarefa.squadTarefa?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tarefa', tarefa.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tarefa', tarefa.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tarefa)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
