<div>
    <h2 id="page-heading">
        <span jhiTranslate="unblockItApp.andamento.home.title">Andamentos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-andamento" [routerLink]="['/andamento/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="unblockItApp.andamento.home.createLabel">
            Create a new Andamento
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="andamentos?.length === 0">
        <span jhiTranslate="unblockItApp.andamento.home.notFound">No andamentos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="andamentos && andamentos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="unblockItApp.andamento.dataAndamento">Data Andamento</span></th>
                    <th scope="col" ><span jhiTranslate="unblockItApp.andamento.descricao">Descricao</span></th>
                    <th scope="col" ><span jhiTranslate="unblockItApp.andamento.tarefaAndamento">Tarefa Andamento</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let andamento of andamentos ;trackBy: trackId">
                    <td><a [routerLink]="['/andamento', andamento.id, 'view']">{{ andamento.id }}</a></td>
                    <td>{{ andamento.dataAndamento | date:'mediumDate' }}</td>
                    <td>{{ andamento.descricao }}</td>
                    <td>
                        <div *ngIf="andamento.tarefaAndamento">
                            <a [routerLink]="['/tarefa', andamento.tarefaAndamento?.id, 'view']" >{{ andamento.tarefaAndamento?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/andamento', andamento.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/andamento', andamento.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(andamento)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
