<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="andamento">
            <h2><span jhiTranslate="unblockItApp.andamento.detail.title">Andamento</span> {{ andamento.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="unblockItApp.andamento.dataAndamento">Data Andamento</span></dt>
                <dd>
                    <span>{{ andamento.dataAndamento }}</span>
                </dd>
                <dt><span jhiTranslate="unblockItApp.andamento.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ andamento.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="unblockItApp.andamento.tarefaAndamento">Tarefa Andamento</span></dt>
                <dd>
                    <div *ngIf="andamento.tarefaAndamento">
                        <a [routerLink]="['/tarefa', andamento.tarefaAndamento?.id, 'view']">{{ andamento.tarefaAndamento?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/andamento', andamento.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
